.main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-mode .main {
    background-color: #fff;
  }
  
  .dark-mode .main {
    color: #fff;
    background-color: #212324;
  }
  
  .abstand {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    width: calc(100% - 10px);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .light-mode .abstand {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .dark-mode .abstand {
    background-color: #3b3b3b;
    color: #fff;
    border: 1px solid #555;
  }
  
  button {
    text-align: center;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    background-color: #45a049;
    margin-bottom: 10px;
  }
  
  .text {
    margin-right: 5px;
  }
  
  .test {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .actionbuttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .savebutton {
  }
  
  .resetbutton {
    margin-left: 5px;
    height: 40px;
    width: 40px;
  }
  
  .XButton {
    height: 40px;
    width: 60px;
  }
  
  .img {
    height: 40px;
  }
  
  .img2 {
    height: 25px;
  }
  